.profil-image {
  background-image: url("/digitous-html-cuisine/img/team/antoine.jpg");
  border-radius: 50%;
  background-size: cover;
  height: 250px;
  width: 250px;
  float: left;
  margin-right: 2em;
}

.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.527)),
    url("/digitous-html-cuisine/img/team/team.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-opacity {
  background-image: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.527)),
    url("/digitous-html-cuisine/img/team/team.jpg");
}
